<app-header></app-header>
<br>
<div class="container mt-2">
  <form (ngSubmit)="getUserData(f)" #f="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Username</label>
      <input
        type="text"
        name="username"
        ngModel
        class="form-control"
        placeholder="Enter Username"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br><br>
  <div *ngIf="data" class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      src="{{ data.graphql.user.profile_pic_url_hd }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ data.graphql.user.full_name }}</h5>
      <p class="card-text">{{ data.graphql.user.biography }}</p>
    </div>
    <a class="btn btn-primary" href="{{ data.graphql.user.profile_pic_url_hd }}" target="_blank" role="button">Download DP</a>
  </div>
</div>
